.calculator {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

button {
  width: 3em;
  height: 3em;
  font-size: 1.5em;
  border-radius: 3em;
  margin: auto 10px 10px auto;
  flex: 1;
}

.display {
  width: 100%;
  height: 2.5em;
  font-size: 1.5em;
  text-align: right;
  margin: 20px auto;
  padding: 0 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.buttonsRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex: 1;
}
